.container
{
    display:flex;
    flex-direction: column;
}

.profielTitle{
    color: #00639c; 
    font-size: 32px;    
    font-weight:500;  
    margin-top: 2rem;   
  
  }


.opleiding{
  color: #00639c; 
  font-size: 32px;    
  font-weight:500;  
  margin-top: 2rem;   
  
}


.profielText{
  color: #6B7C95;
  font-size: 16px;             
}

.bold{
  font-weight:600;
  color: #00639c; 
  font-size: 16px; 
  margin-top: 1rem;     
}

.btn{
  background-color: #ffffff00; 
  border: 2px solid #6B7C95;
  border-radius: 13px;
  color: #00639c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  
}

.btn:hover{
  background-color: #00639c;
  color: #ffffff;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent h2{
  color: #00639C;
}

.modalContent {
  background-color: #F9F2E0;
  color: #6B7C95;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.dichtBtn {
  background-color: #ffffff00; 
  border: 2px solid #dc3545;
  color: #dc3545;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.dichtBtn:hover {
  background-color: red;
  color: #F9F2E0;
}

 @media (max-width: 768px) {

    .container  
    {
      display:flex;
      flex-wrap: wrap;
    }


    .profielTitle{
      color: #00639c; 
      font-size: 22px;   
    }
    
    .profielText{
      color: #6B7C95; 
      font-size: 14px;   
    }
  
   
   
  }