.container
{
    display:flex;
    height: 200rem;
}

.profielTitle{
    color: #00639c; 
    font-size: 32px;                  
    width: auto;            
    margin-left:  10rem;  
    max-width: 400px;
    font-weight:500;    
  
  }

.profielText{
  color: #6B7C95;
  font-size: 16px;           
  width: auto;           
  margin-top: 2rem;     
  max-width: 300px;

}

@media (max-width: 768px) {

    .container  
    {
        display:flex;
        flex-wrap: wrap;
    }


    .profielTitle{
        color: #00639c; 
        font-size: 30px;     
        margin-left: 2rem;
        margin-top: 2rem; 
      }
    
    .profielText{
      color: #6B7C95;
      font-size: 16px;         
      margin-top: 2rem; 
    
    }
  
   
   
  }