.container
{
    display:flex;
    flex-wrap: wrap;
}

.profielTitle{
    color: #00639c; 
    font-size: 32px;    
    font-weight:500;  
    margin-top: 2rem;   
  
  }

.profielText{
  color: #6B7C95;
  font-size: 16px;             
}

.bold{
  font-weight:600;
  color: #00639c; 
  font-size: 16px; 
  margin-top: 1rem;     
}

@media (max-width: 768px) {

    .container  
    {
      display:flex;
      flex-wrap: wrap;
    }


    .profielTitle{
      color: #00639c; 
      font-size: 22px;   
    }
    
    .profielText{
      color: #6B7C95; 
      font-size: 14px;   
    }
  
   
   
  }