.container
{
    color: black;
}

.block
{
    width: 90%;
    min-height: 40em;
    margin: 5rem;
    border-radius: 103;
}

.contact{
  height: 50rem;  
}

.title
{
    font-size: 64px;
    color: #6B7C95;
    text-transform: uppercase;        
    position: relative; 
}

/* onderline */
.title::after
{
  content: "";                      
  display: block;                
  width: 80%;                       
  height: 2px;                      
  margin:  auto 0;  
  background-color: #6B7C95;              
  position: absolute;                           
  bottom: -5px;     
}


@media (max-width: 768px) {
    .block {
      width: 100%;
      height: auto; 
      margin: 2rem auto; 
      border-radius: 1rem; 
      padding: 1rem; 
    }
  
    .title {
      font-size: 24px; 
    }

    .contact{
      height: 48rem;  
   }
   
  }